Repository iu7og/bongodb, pull requests merged in 2022-04, with the labels that each got.

#41 [GH-40] add dependencies and build info
  README.md
Labels: documentation

#48 [GH-37] completed MVP
  .gitignore
  bongocore/.clang-format
  bongocore/CMakeLists.txt
  bongocore/core/Makefile
  bongocore/core/backend/Backend.cpp
  bongocore/core/backend/Backend.h
  bongocore/core/backend/ICommandsBuffer.h
  bongocore/core/backend/IProcessor.h
  bongocore/core/backend/MasterProcessor.cpp
  bongocore/core/backend/MasterProcessor.h
  bongocore/core/backend/ReplicaProcessor.cpp
  bongocore/core/backend/ReplicaProcessor.h
  bongocore/core/backend/Streamer.cpp
  bongocore/core/backend/Streamer.h
  bongocore/core/backend/VectorCommandsBuffer.cpp
  bongocore/core/backend/VectorCommandsBuffer.h
  bongocore/core/backend/backend_build.cpp
  bongocore/core/backend/build.h
  bongocore/core/clients/HttpClient.cpp
  bongocore/core/clients/HttpClient.h
  bongocore/core/clients/HttpPrimitives-inl.h
  bongocore/core/clients/HttpPrimitives.cpp
  bongocore/core/clients/HttpPrimitives.h
  bongocore/core/clients/IClient.h
  bongocore/core/clients/build.h
  bongocore/core/clients/clients_build.cpp
  bongocore/core/common/OperationResults.h
  bongocore/core/common/Shard.h
  bongocore/core/common/StreamCommands.cpp
  bongocore/core/common/StreamCommands.h
  bongocore/core/common/build.h
  bongocore/core/common/common_build.cpp
  bongocore/core/common/types.h
  bongocore/core/storages/BongoStorage.cpp
  bongocore/core/storages/BongoStorage.h
  bongocore/core/storages/IStorage.h
  bongocore/core/storages/StdHashStorage.cpp
  bongocore/core/storages/StdHashStorage.h
  bongocore/core/storages/ThreadSafeStorageWrapper.cpp
  bongocore/core/storages/ThreadSafeStorageWrapper.h
  bongocore/core/storages/build.h
  bongocore/core/storages/storages_build.cpp
  bongocore/server/Makefile
  bongocore/server/examples/config.xml
  bongocore/server/src/HandlerFactory.cpp
  bongocore/server/src/HandlerFactory.h
  bongocore/server/src/main.cpp
  bongocore/tests/src/main.cpp
Labels: core

#54 [GH-52] Reorginized clients and shards
  bongocore/core/clients/HttpPrimitives-inl.h
  bongocore/core/clients/HttpPrimitives.h
  bongocore/core/clients/build.h
  bongocore/core/clients/clients_build.cpp
  bongocore/core/common/build.h
  bongocore/core/common/common_build.cpp
  bongocore/core/storages/StdHashStorage.h
  bongocore/core/storages/ThreadSafeStorageWrapper.h
  bongocore/core/storages/build.h
Labels: core

#53 [GH-50] add misc stability fixes
  bongocore/core/backend/Backend.cpp
  bongocore/core/backend/Backend.h
  bongocore/core/backend/ReplicaProcessor.cpp
  bongocore/core/backend/ReplicaProcessor.h
  bongocore/core/backend/backend_build.cpp
  bongocore/core/backend/build.h
Labels: core

#51 [GH-49] Добавление параметров при инициализации сервера
  bongocore/server/src/HandlerFactory.cpp
  bongocore/server/src/HandlerFactory.h
  bongocore/server/src/main.cpp
Labels: core

#55 [GH-44] Добавление собственного clang-формата в линтер
  .github/workflows/linter-clang.yml
  .github/workflows/linter-golang.yml
  bongocli/.golangci.yml
  bongocli/Makefile
  bongocli/cmd/connect.go
  bongocli/go.mod
  bongocli/go.sum
  bongocli/internal/connect/connect.go
  bongocli/internal/pb/bongodb/bongoapp.pb.go
  bongocli/internal/pb/bongodb/bongoapp_grpc.pb.go
  bongocore/tests/src/main.cpp
  bongoproto/bongoapp.proto
  bongoproto/bongocore.proto
Labels: enhancement, infra

#58 Добавление Doxyfile
  bongocore/Doxyfile
  bongocore/core/backend/Backend.h
Labels: documentation

#60 [GH-56] Правка CMakeLists
  bongocore/CMakeLists.txt
Labels: core

#63 [GH-24] Add working sharding
  bongocore/CMakeLists.txt
  bongocore/core/backend/Backend.cpp
  bongocore/core/backend/IProcessor.h
  bongocore/core/backend/MasterProcessor.h
  bongocore/core/common/common_build.cpp
  bongocore/server/examples/config11.xml
  bongocore/server/examples/config12.xml
  bongocore/server/examples/config21.xml
  bongocore/server/examples/config22.xml
  bongocore/server/src/main.cpp
Labels: core

#67 [GH-66] Improve messages in logging (configs)
  .github/workflows/build-core.yml
  bongocore/CMakeLists.txt
  bongocore/core/backend/VectorCommandsBuffer.cpp
  bongocore/core/backend/VectorCommandsBuffer.h
  bongocore/core/clients/HttpClient.cpp
  bongocore/core/clients/HttpClient.h
  bongocore/core/storages/build.h
  bongocore/server/examples/config11.xml
  bongocore/server/examples/config12.xml
  bongocore/server/examples/config21.xml
  bongocore/server/examples/config22.xml
  bongocore/server/src/main.cpp
Labels: bug, core
